<div class="container">
  

  <div class="row">
      <div class="col-md-6 ">
          <h1 class="text-center ">Top Quotes</h1>
          <div *ngFor="let quote of quotes; let i = index">
                <ul id="qt" >
                        <li>
                          {{ quote.quote }}
                        </li>
                        <button (click)="toggleDetails(i)">More Details</button>
                        <app-quote-detail
                          *ngIf="quote.showDescription"
                          [quote]="quote"
                          (isComplete)="completeQuote($event, i)"
                        >
                        </app-quote-detail>
                      </ul>

          </div>

      </div>

      <div class="col-md-6">
            
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
          </div>

  </div>
  

  
</div>
