<div class="container">
    
        <h2 class="jumbotron fluid text-center">Famous Quotes</h2>
        <hr>
        
        <ul  *ngFor='let quote of quotes;let i = index'>
            <li>
                {{quote.quote}}
                
            </li>
            <button (click)='toggleDetails(i)'> More Details</button>
            <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'completeQuote($event,i)'>
        
            </app-quote-detail>
        </ul>
        

</div>