<div class="container">
  <h2 class="jumbotron fluid text-center">Famous Quotes</h2>
  <hr />

  <div class="row">
      <div class="col-md-6">
          <div *ngFor="let quote of quotes; let i = index">
                <ul >
                        <li>
                          {{ quote.quote }}
                        </li>
                        <button (click)="toggleDetails(i)">More Details</button>
                        <app-quote-detail
                          *ngIf="quote.showDescription"
                          [quote]="quote"
                          (isComplete)="completeQuote($event, i)"
                        >
                        </app-quote-detail>
                      </ul>

          </div>

      </div>

      <div class="col-md-6">
            <h2>Recently posted Quotes</h2>
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
          </div>

  </div>
  

  
</div>
