<div class="col-md-12">
      <h3>Post a Quote</h3>
    <form #quoteForm='ngForm'(ngSubmit)='submitQuote()' #quoteForm='ngForm' class="bg-info p-4 col-md-6 text-center" action="">
        <div class="form-group">

            <label for="quote">Quote</label>
            <input type="text" required class="form-control" id="quote" placeholder="Enter Quote here "[(ngModel)]="newQuote.quote" name="quote" #quote='ngModel'>
  
        </div>

        
        <div class="form-group">

            <label for="name">Posted by</label>
            <input type="text" required class="form-control" id="description" placeholder="Enter Your Name" [(ngModel)]="newQuote.description" name="description" #description='ngModel'>
  
        </div>
        <button>Post Quote</button>
    </form>
    
</div>